<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Colloque</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Hello, World</p>
        <p>Créer un evenement <a href="/createEvenForm">here</a></p>
        <p>Chercher un evenement <a href="/createEvenForm">here</a></p>

        <tr th:if="${evenements.empty}">
            <td colspan="2"> Aucun participants inscrit</td>
        </tr>
        <tr th:each="evenement : ${evenements}">
            <p>Titre : <td><span th:text="${evenement.title}"></span></td></p>
            <p>Theme : <td><span th:text="${evenement.theme}"></span></td></p>
            <p>Date de début : <td><span th:text="${evenement.beginDate}"></span></td></p>
            <p>Durée : <td><span th:text="${evenement.duration}"></span></td></p>
            <p>Nombre de participants maximum : <td><span th:text="${evenement.nbPartMax}"></span></td></p>
            <p>Description : <td><span th:text="${evenement.description}"></span></td></p>
            <p>Organisateur : <td><span th:text="${evenement.organisator}"></span></td></p>
            <p>Type d'évènements : <td><span th:text="${evenement.typeEvent}"></span></td></p>
            <p>Lien vers la page de l'évènement <span th:text="${evenement.numEvent}"></span> <a th:href="@{/evenement/{num_even}(num_even=${evenement.numEvent})}">here</a></p>
            <p>Supprimer l'évènement <a th:href="@{/deleteEvent/{num_even}(num_even=${evenement.numEvent})}" th:method="delete">here</a></p>
            <p>Modifier l'évènement <a th:href="@{/editEvenement/{num_even}(num_even=${evenement.numEvent})}">here</a></p>
        </tr>
    </body>
</html>