<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Colloque</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div style="margin:15px">
            <a href="/gestion" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Accueil</a>
            <a href="/createEvenForm" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Créer</a>
        </div>

        <h3>Voir les informations sur les évènements organisés et leurs participants:</h3>

        <div style="margin:15px">
        <tr th:if="${evenements.empty}">
            <td colspan="2"> Aucun evenements inscrit</td>
        </tr>
        <tr th:each="evenement : ${evenements}">
            <td>Titre : <span th:text="${evenement.title}"></span></td>
            <!--<p>Participants : <td><span th:text="${evenement.participants}"></span></td></p>-->
            <a th:href="@{/evenement/{num_even}(num_even=${evenement.numEvent})}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Details</a>
            <a th:href="@{/editEvenement/{num_even}(num_even=${evenement.numEvent})}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Modifier</a>
            <a th:href="@{/deleteEvent/{num_even}(num_even=${evenement.numEvent})}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Supprimer</a>
        </tr>

<!--
            <div style="margin:15px">
                <tr th:if="${evenements.empty}">
                    <td colspan="2"> Aucun evenements inscrit</td>
                </tr>
                <tr th:each="evenement : ${evenements}">
                    Titre : <td><span th:text="${evenement.title}"></span></td>
                    <a th:href="@{/evenement/{num_even}(num_even=${evenement.numEvent})}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Details</a>
                    <a th:href="@{/deleteEvent/{num_even}(num_even=${evenement.numEvent})}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Modifier</a>
                    <a th:href="@{/editEvenement/{num_even}(num_even=${evenement.numEvent})}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Modifier</a>
                </tr>-->

        </div>
    </body>
</html>