<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Evènement</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div style="margin:15px">
        <a href="/gestion" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Accueil</a>
        <a href="/evenements" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Retour</a>
    </div>

    <div style="margin:15px">
        <h3>Détails de l'évènement <span th:text="${evenement.title}"></span></h3>

        <p>L'évènement a pour thème : <td><span th:text="${evenement.theme}"></span>.</p>

        <p>L'évènement début le <span th:text="${evenement.beginDate}"></span> pour une durée de
            <span th:text="${evenement.duration}"></span> jours avec <span th:text="${evenement.nbPartMax}"></span> participants maximum.</p>

        <div>
            <p>Description :</p>
            <p><span th:text="${evenement.description}"></span></p>
        </div>

        <p>L'organisateur est <span th:text="${evenement.organisator}"></span>.</p>
        <p>Le type d'évènement est : <td><span th:text="${evenement.typeEvent}"></span>.</p>

        <p>Les participants sont :
            <tr th:each="participant : ${evenement.participants}">
                <td><span th:text="${participant.firstName}"></span></td>
                <td><span th:text="${participant.lastName}"></span></td>
                <td><span th:text="${participant.email}"></span></td>
            </tr>
        </p>

        <p>La liste des personnes qui peuvent être inscrites :</p>
        <div>
            <tr th:if="${participants.empty}">
                <td colspan="2"> Aucun participants inscrit</td>
            </tr>

            <div th:unless="${#lists.size(evenement.participants)} == ${evenement.nbPartMax}">
                <tr th:each="participant : ${participants}">
                    <p>
                    <td>Participant <span th:text="${participant.numPerson}"></span> <span th:text="${participant.firstName}"></span></td>
                    <a th:unless="${#lists.contains(evenement.participants, participant)}" th:href="@{/evenement/{num_even}/add/{numPerson}(num_even=${evenement.numEvent}, numPerson=${participant.numPerson})}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Ajouter</a></p>
                    <a th:if="${#lists.contains(evenement.participants, participant)}">Participant déjà ajouté !</a>
                    </p>
                </tr>
            </div>
            <div th:if="${#lists.size(evenement.participants)} == ${evenement.nbPartMax}" >
                Il n'y a plus de place dans l'évènement !
            </div>

            <p><a th:href="@{/editEvenement/{num_even}(num_even=${evenement.numEvent})}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Modifier</a>
            <a th:href="@{/deleteEvent/{num_even}(num_even=${evenement.numEvent})}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Supprimer</a></p>
        </div>
    </div>
</body>
</html>