<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Colloque</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div style="margin:15px">
        <a href="/gestion" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Accueil</a>
        <a href="/createPartForm" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Ajouter</a>
    </div>

    <div style="margin:15px">

        <h3>Liste des participants:</h3>

        <tr th:if="${participants.empty}">
            <td colspan="2"> Aucun participants inscrit</td>
        </tr>
    </div>

    <!--
        <div style="margin:15px" class="container-fluid justify-content-between">
            <p>Leurs firstName, lastName, email, birthDate, organisation, observations sont renseignés :</p>
        </div>-->


    <tr th:each="participant : ${participants}">     

        <div style="margin:15px" class="d-grid gap-2 d-md-block container-fluid">
            <td><span th:text="${participant.firstName}"></span></td>
            <td><span th:text="${participant.lastName}"></span></td>
            <td><span th:text="${participant.email}"></span></td>
            <td><span th:text="${participant.birthDate}"></span></td>
            <td><span th:text="${participant.organisation}"></span></td>
            <td><span th:text="${participant.observations}"></span></td>

            <a th:href="@{/participant/{numPerson}(numPerson=${participant.numPerson})}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Details</a>
            <a th:href="@{/editParticipant/{numPerson}(numPerson=${participant.numPerson})}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Modifier</a>
            <a th:href="@{/deletePart/{numPerson}(numPerson=${participant.numPerson})}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Supprimer</a>
            
        </div>

    </tr>

</body>
</html>