<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Colloque</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <tr th:if="${allParticipants.empty}">
        <td colspan="2"> Aucun participants inscrit</td>
    </tr>
    <tr th:each="participant : ${allParticipants}">
        <p>
            <td><span th:text="${participant.firstName}"></span></td>
            <td><span th:text="${participant.lastName}"></span></td>
            <td><span th:text="${participant.email}"></span></td>
            <td><span th:text="${participant.birthDate}"></span></td>
            <td><span th:text="${participant.organisation}"></span></td>
            <td><span th:text="${participant.observations}"></span></td>
        </p>
    </tr>

</body>
</html>